<h1>Car#new_car</h1>
<p>Find me in app/views/car/new_car.html.erb</p>


<form action= "/car/new_car" id = "textareaform" method= "get">
  <input type= "text" name= "make" required/>
  <input type= "type" name= "model_year" required/>
  <input type= "color"/>
</br>
  <input type= "submit" value= "Simulate Car"/>
</form>

<textarea name="description" form="textareaform">Enter text here...</textarea>
